@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat-light";
  src: url("./assets/fonts/Montserrat-Light.otf");
}

@font-face {
  font-family: "Montserrat-bold";
  src: url("./assets/fonts/Montserrat-ExtraBold.otf");
}

body {
  margin: 0;
  font-family: "Montserrat-Light";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.f-light {
  font-family: "Montserrat-light";
}

.f-bold {
  font-family: "Montserrat-bold";
}
